/dts-v1/;
/plugin/;

/ {
	fragment@0 {
		target-path = "/";
		__overlay__ {
			led {
				compatible = "led";
				label = "led";
				status = "okay";
				led-gpios = <&gpio 17 0>,
				            <&gpio 27 0>;
			};
		};
	};
};
